{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-6 col-md-6 col-sm container carousel text-center h-50">
        <div class="row h-50">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-inline-block w-75" src="/media/carousel-image1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-inline-block w-75" src="/media/carousel-image2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-inline-block w-75" src="/media/carousel-image3.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm text-white pt-5 site-text">
        <span>
            <h2><u><strong>Floree Rose</strong></u></h2>
            <h3><u>Flowers</u></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam inventore optio aut sed recusandae beatae ipsa, sunt eos accusantium, temporibus quas doloribus, sequi provident. Reprehenderit nostrum necessitatibus sed quam quisquam.</p>
        </span>
        <br>
        <span>
            <h2><u>Title</u></h2>
            <h3><u>Title</u></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ipsa, enim quisquam autem quae error rerum quidem quasi quo animi iste provident ab sapiente obcaecati ea impedit? Dolor, dolorum obcaecati!</p>
        </span>
        <div>
            <a class="btn btn-outline-light btn-lg stock-link" href="{% url 'stocks' %}" role="button">Shop Now!</a>
        </div>
    </div>
{% endblock %}