{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-2">
            <h2>Testimonials</h2>
            <hr class="bg-light">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mt-2">
            <div class="card ">
                {% for review in reviews %}
                    {% if review.approved == True %}
                        <p class="text-dark pl-2">{{ review.review }}</p>
                        <p class="text-dark fw-bold card-title pl-2">Review made by: {{ review.user }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>     
    <div class="row">
        <div class="col-12 mt-2"> 
            {% if user.is_authenticated %}
                <div class="mb-2 text-center mt-3">
                    <a href="{% url 'add_review' %}" class="stock-link btn btn-outline-light rounded-1" aria-label="Add Review">Add Review</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}