body {
    background: #ec6288;
    color: #ec6288;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    font-size: larger;
}

header {
    color: #ec6288;
}

.topwrapper {
    background-color: white;
    width: 100%;
    height: 221px;
    border-bottom: 1px solid #ec6288;
}

.inner {
    height: auto;
    margin: 0 auto 0;
    max-width: 1092px;
    min-height: 100%;
}

.main-logo {
    background: url('/media/floree-rose-logo.jpg') no-repeat center center;
    background-size: cover;
    height: 220px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
}

.TopLinks {
    padding-top: 30px;
}

.link {
    float: right;
    padding-right: 10px;
}

.link > a {
    color: #ec6288;
    text-decoration: none;
}

.link > a:hover {
    color: #62ECC6;
    text-decoration: none;
}

.divide {
    border-left: 2px solid #ec6288;
}

#panelsearcharea,
#searcharea {
    padding-top: 20px;
}

.icon {
    color:#ec6288;
}

.form-control {
    border-color: #ec6288 !important;
    color: #ec6288 !important;
}

.menu {
    float: right;
    padding-top: 20px;
}

.nav-link {
    color:#ec6288 !important;
}

.dropdown-item {
    color: #ec6288;
}

.dropdown-item:hover {
    color: #62ECC6;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media-links {
    color:#ec6288;
}

.social-media-links:hover {
    color:#62ECC6;
}

.social-media-links > i {
    font-size: 50px;
}

.policy {
    display: inline-block;
}

.policy > div {
    float: left;
    padding-right: 15px;
}

/* index page css */

/* main page carousel */
.carousel {
    float: left;
}

.d.inline-block {
    float: none;
}

/* text and button styling */
.site-text {
    float:left;
}

.btn-outline-light:hover {
    color:#ec6288;
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .lg-md-display {
        display: block;
    }

    .topwrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mobile-nav {
        display:none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .lg-md-display {
        display: block;
    }

    .inner {
        max-width: 1000px;
    }

    .carousel {
        margin-top: 20px;
    }

    .btn-outline-light {
        margin-bottom: 10px;
    }

    .mobile-nav {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .carousel {
        margin-top: 50px;
    }

    .btn-outline-light {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    #TopWrapper {
        height: auto;
    }

    .row.lg-md-display,
    .divide {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .navbar-nav {
        background-color: white;
    }

}

@media (max-width: 768px) {
    .carousel {
        display: none;
    }
    
    .btn-outline-light {
        margin-bottom: 10px;
    }
}
