<div id="TopWrapper" class="col-lg-md topwrapper">
    <div class="inner">
        <div class="row lg-md-display">
            <div class="row">
                <div class="col-lg-3 col-md-3 NoPaddingLeftRight">
                    <div class="main-logo">
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 NoPaddingLeftRight text-pink">
                    <div class="TopLinks">
                        {% if user.is_authenticated %}
                            <div class="link">
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                            <div class="link">
                                <a href="{% url 'view_basket' %}" aria-label="Shopping Basket">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                            <div class="link">
                                <a href="{% url 'profile' %}" aria-label="My Account">
                                    My Account
                                </a>
                            </div>
                            {% if user.is_superuser %}
                                <p class="link divide">
                                    &nbsp;
                                </p>
                                <div class="link">
                                    <a href="/admin/" aria-label="Admin">
                                        Admin
                                    </a>
                                </div>
                            {% endif %}
                            <p class="link divide">
                                &nbsp;
                            </p>
                            <div class="link">
                                <a href="{% url 'account_logout' %}" aria-label="Logout">
                                    Logout
                                </a>
                            </div>
                            <div class="link icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="link text-pink">
                                Welcome {{ user }}
                            </div>
                            <p class="link divide">
                                &nbsp;
                            </p>
                            <div class="link">
                                <a href="{% url 'home' %}" aria-label="Home">
                                    Home
                                </a>
                            </div>
                        {% else %}
                            <div class="link">
                                <a href="{% url 'account_signup' %}" aria-label="Register">
                                    Register
                                </a>
                            </div>
                            <p class="link divide">
                                &nbsp;
                            </p>
                            <div class="link login">
                                <a href="{% url 'account_login' %}" aria-label="Login">
                                    Login
                                </a>
                            </div>
                            <div class="link icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <p class="link divide">
                                &nbsp;
                            </p>
                            <div class="link">
                                <a href="{% url 'home' %}" aria-label="Home">
                                    Home
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div id="panelsearcharea">
                        <div id="searcharea">
                            <div class="style">
                                <div>
                                    <form method="GET" action="{% url 'stocks' %}">
                                        <div class="input-group w-100">
                                            <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                                            <div class="input-group-append">
                                                <button class="form-control btn btn-black border rounded-0" type="submit" aria-label="Search">
                                                    <span class="icon">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <nav class="navbar navbar-expand-lg navbar-light w-100">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main-nav">
                                <ul class="navbar-nav w-auto mx-auto">
                                    <li class="d-block nav-item d-md-none">
                                        <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                                            Home
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="logo-font font-weight-bold nav-link mr-3" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Products
                                        </a>
                                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                            <a href="{% url 'stocks' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                                            <a href="{% url 'stocks' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                                            <a href="{% url 'stocks' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                                            <a href="{% url 'stocks' %}" class="dropdown-item">All Products</a>
                                        </div>
                                    </li>
                                    <li class="link divide">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="logo-font font-weight-bold nav-link mr-3" href="#" id="seasonal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Seasonal
                                        </a>
                                        <div class="dropdown-menu border-0" aria-labelledby="seasonal-link">
                                            <a href="{% url 'stocks' %}?category=spring" class="dropdown-item">Spring</a>
                                            <a href="{% url 'stocks' %}?category=summmer" class="dropdown-item">Summer</a>
                                            <a href="{% url 'stocks' %}?category=autumn" class="dropdown-item">Autumn</a>
                                            <a href="{% url 'stocks' %}?category=winter" class="dropdown-item">Winter</a>
                                        </div>
                                    </li>
                                    <li class="link divide">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="logo-font font-weight-bold nav-link mr-3" href="#" id="clearance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Promotions
                                        </a>
                                        <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                                            <a href="{% url 'stocks' %}?category=new" class="dropdown-item">New</a>
                                            <a href="{% url 'stocks' %}?category=special_purchase" class="dropdown-item">Special Purchases</a>
                                            <a href="{% url 'stocks' %}?category=new,special_purchase" class="dropdown-item">All Promotions</a>
                                        </div>
                                    </li>
                                    <li class="link divide">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="font-weight-bold nav-link mr-3" href="#" id="misc-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Miscellanous
                                        </a>
                                        <div class="dropdown-menu border-0" aria-labelledby="misc-link">
                                            <a href="{% url 'stocks' %}?category=clearance" class="dropdown-item">Clearance</a>
                                            <a href="{% url 'stocks' %}?category=other" class="dropdown-item">Other</a>
                                            <a href="{% url 'stocks' %}?category=clearance,other" class="dropdown-item">All Misc</a>
                                        </div>
                                    </li>
                                    <li class="link divide">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="font-weight-bold nav-link mr-3" href="{% url 'subscription' %}">
                                            Newsletter
                                        </a>
                                    </li>
                                    <li class="link divide">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item dropdown vl">
                                        <a class="font-weight-bold nav-link" href="{% url 'review' %}">
                                            Reviews
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/mobile-nav.html' %}
    </div>
</div>