{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="mt-3 mb-3">
                    <!--Displays stock image, or alt image for no image loaded.-->
                    {% if stock.image %}
                        <a href="{% url 'stock_detail' stock.id %}">
                            <img class="card-img-top img-fluid" src="{{ stock.image.url }}" alt="{{ stock.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'stock_detail' stock.id %}">
                            <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ stock.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mt-3 mb-3 text-white">
                    <h3 class="font-weight-bold text-uppercase">{{ stock.name }}</h3>
                    <h2 class="font-weight-bold">£{{ stock.price }}</h2>
                    <!--Displays category the stock belongs to.-->
                    {% if stock.category %}
                        <p class="mt-1 mb-0 stock-link">
                            <a class="text-white stock-link" href="{% url 'stocks' %}?category={{ stock.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ stock.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    <!--Displays rating if there is one, or no rating if not.-->
                    {% if stock.rating %}
                        <p class="mt-2"><i class="fas fa-star mr-1"></i>{{ stock.rating }} / 5</p>
                    {% else %}
                        <p class="mt-2">No Rating</p>
                    {% endif %}
                    {% if stock.stock_quantity == none %}
                        <p class="mt-2 font-weight-bold">OUT OF STOCK</p>
                    {% elif stock.stock_quantity == 0 %}
                        <p class="mt-2 font-weight-bold">OUT OF STOCK</p>
                    {% else %}
                        <p class="mt-2">Quantity Available to purchase: <strong>{{ stock.stock_quantity }}</strong></p>
                    {% endif %}                        
                    <h4 class="mt-2">{{ stock.description }}</h4>
                    <!--Allows only registered users with permissions to edit or delete stock.-->
                    {% if request.user.is_superuser %}
                        <small class="mt-3 text-white">
                            <a href="{% url 'edit_stock' stock.id %}" class="stock-link text-white" aria-label="Edit Stock">Edit</a> |
                            <a href="{% url 'delete_stock' stock.id %}" class="stock-link text-white" aria-label="Delete Stock">Delete</a>
                        </small>
                    {% endif %}
                    <form action="{% url 'add_to_basket' stock.id %}" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-outline-light rounded-1 stock-link"
                                                data-item_id="{{ stock.id }}" id="decrement-qty_{{ stock.id }}" aria-label="Decrease Quantity">
                                                <span class="icon">
                                                    <i class="fas fa-minus text-white stock-link"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number" name="quantity" value="1" min="1" max="99" 
                                            data-item_id="{{ stock.id }}" id="id_qty_{{ stock.id }}" 
                                            class="form-control qty_input">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-outline-light rounded-1 stock-link"
                                                data-item_id="{{ stock.id }}" id="increment-qty_{{ stock.id }}" aria-label="Increase Quantity">
                                                <span class="icon">
                                                    <i class="fas fa-plus text-white stock-link"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'stocks' %}" class="btn btn-outline-light rounded-1 stock-link mt-5" aria-label="Keep Shopping">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left text-white stock-link"></i>
                                    </span>
                                    <span class="text-uppercase text-white stock-link">Keep Shopping</span>
                                </a>
                                {% if stock.stock_quantity == none %}
                                    <p class="mt-2 font-weight-bold">OUT OF STOCK</p>
                                {% elif stock.stock_quantity == 0 %}
                                    <p class="mt-2 font-weight-bold">OUT OF STOCK</p>
                                {% else %}
                                    <input type="submit" class="btn btn-black btn-outline-light stock-link rounded-1 text-uppercase mt-5 text-white" value="Add to Basket" aria-label="Add to Basket">
                                {% endif %} 
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'stock/includes/quantity_input_script.html' %}
{% endblock %}