{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extrameta %}
        <meta name="description" content="Luxury handcrafted, bespoke, unique wreaths, made with faux flowers
            suitable all year round, provides stunning feature for your home. ">
        <meta name="keywords" content="Wreaths, flower wreaths, faux flower wreath, silk flower wreath, colourful flower wreath,
            foliage wreath, seasonal wreath, spring wreath, summer wreath, autumn wreath, winter wreath, handcrafted wreath,
            bespoke wreath, unique wreath, bespoke flower wreath, unique flower wreath, handcrafted flower wreath">
        <meta name="google-site-verification" content="j2eDvXLTkWaQLWdHyCOfb1SBKbRzVS9AX6Hk6ki9tW8">
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extracss %}
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/47a129b140.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Floree Rose Flowers| Handcrafted faux flower wreaths{% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/main-nav.html' %}

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block pageheader %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}

    </body>

    <footer>
        <div class="row container-fluid bg-white footer">
            <div class="col text-center">
                <div class="pt-3">
                    <p>
                        Connect with us on the following:
                    </p>
                </div>
                <div class="pt-3">
                    <span class="mr-5">
                        <a href="https://www.facebook.com/floreeroseflowers" target="_blank" rel="noopener" class="social-media-links"
                            aria-label="Visit our Facebook Page (opens in a new tab)">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </span>
                    <span class="ml-5">
                        <a href="https://www.instagram.com/floreeroseflowers/?hl=en-gb" target="_blank" rel="noopener" class="social-media-links"
                            aria-label="Visit our Instagram Page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </span>
                </div>
                <div class="pt-3 policy">
                    <div class="link">
                        <a href="{% url 'policy' %}">
                            Privacy Policy
                        </a>
                    </div>
                    <div class="link divide">
                        &nbsp;
                    </div>
                    <div class="link">
                        <a href="">
                            Cookies
                        </a>
                    </div>
                    <div class="link divide">
                        &nbsp;
                    </div>
                    <div class="link">
                        <a href="">
                            Terms
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
