{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/47a129b140.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Floree Rose Flowers{% block extra_title %}{% endblock %}</title>
    </head>
    <body>

        {% include 'includes/main-nav.html' %}
    <!-- <header class="container-fluid fixed-top bg-white">
        <div id="divTopWrapper" class="col-lg-md topwrapper">
            <div class="inner">
                <div class="row lg-md-display">
                    <div class="row">
                        <div class="col-3 col-lg-3 col-md-3 col-sm-4 NoPaddingLeftRight">
                            <div style>
                                <a class="nav-link-home" href="{% url 'home' %}">
                                    <h2 class="">Floree Rose</h2>
                                    <h3 class="">Flowers</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-9 col-lg-9 col-md-9 col-sm-8 NoPaddingLeftRight" style="text-align:right;">
                            {% if user.is_authenticated %}
                                <div id="LoggedInTopLinks">
                                    <div>
                                        <a href="">
                                            Register
                                        </a>
                                    </div>
                                    <div>
                                        &nbsp;
                                    </div>
                                </div>
                            {% else %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="d-block nav-item d-md-none">
                            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown vl">
                            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All Products
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                <a href="#" class="dropdown-item">By Price</a>
                                <a href="#" class="dropdown-item ">By Rating</a>
                                <a href="#" class="dropdown-item ">By Category</a>
                                <a href="#" class="dropdown-item">All Products</a>
                            </div>
                        </li>
                        <br>
                        <li class="nav-item dropdown vl">
                            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seasonal
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                                <a href="#" class="dropdown-item">Activewear &amp; Essentials</a>
                                <a href="#" class="dropdown-item">Jeans</a>
                                <a href="#" class="dropdown-item">Shirts</a>
                                <a href="#" class="dropdown-item">All Clothing</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown vl">
                            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clearance
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                                <a href="#" class="dropdown-item">Bed &amp; Bath</a>
                                <a href="#" class="dropdown-item">Kitchen &amp; Dining</a>
                                <a href="#" class="dropdown-item">All Homeware</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown vl">
                            <a class="font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Miscellanous
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                <a href="#" class="dropdown-item">New Arrivals</a>
                                <a href="#" class="dropdown-item">Deals</a>
                                <a href="#" class="dropdown-item">Clearance</a>
                                <a href="#" class="dropdown-item">All Specials</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header> -->

    {% if messages %}
        <div class="message-container">

        </div>
    {% endif %}

    {% block pageheader %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    </body>

    <footer>
        <div class="row container-fluid bg-white footer">
            <div class="col text-center">
                <p>
                    Connect with us on the following:
                </p>
            </div>
            <div class="col text-center">
                <a href="" class="social-media-links">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="" class="social-media-links">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</html>