{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col text-center mt-3">
          <h2>Subscription</h2>
          <hr class="w-50 mb-1 bg-white">
          <p>Please enter your email address if you would like to be added to our newsletter mailing list.</p>
      </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body text-pink">
                    <h3 class="text-center">Subscribe to Newsletter</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-outline-light rounded-1 stock-link crispy" type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col text-center mt-2 mb-2">
        <p>If you would like to remove your email from our mailing list, please send an email to floreerosesales@gmail.com
           with the subject title 'Unsubscribe'.
        </p>
      </div>
    </div>
</div>
  {% endblock %}